<h1><%= @artist.name %></h1>
    <%= image_tag @artist.image, :class => 'feature' if @artist.image.present? %>
        <ul>
            <li>Name:           <%= @artist.name %></li>
            <li>Bio:            <%= @artist.bio unless @artist.bio.nil? %></li>
        </ul>
    <div class="controls">
        <%= button_to "Edit Artist", edit_artist_path %>
        <%= button_to "Delete Artist", @artist, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    </div>