<div class="form-floating mb-3">
<%= form_for(@label, :html => {:multipart => true}) do |f| %>
    <%= f.label :name, :for => 'floatingInput' %>
    <%= f.text_field :name, :class => 'form-control', :id => 'floatingInput', :placeholder => 'Apple Records' %>
    <%= f.label :location, :for => 'floatingInput' %>
    <%= f.text_field :location, :class => 'form-control', :id => 'floatingInput', :placeholder => 'NYC' %>
    <div class="container p-3">
        <%= f.label :image, :for => 'formFile', :class => 'form-label'  %>
        <%= f.cl_image_upload :image, :class => 'form-control', :id => 'formFile', :type => 'file' %>
    </div>
    <div class="container p-3">
        <%= f.submit :class => 'btn btn-outline-dark' %>
    </div>
<% end %>
</div>


