<h1><%= @label.name %></h1>
                    <%= cl_image_tag(@label.image) %>
        <ul>
            <li>Name:           <%= @label.name %></li>
            <li>Location:            <%= @label.location unless @label.location.nil? %></li>
        </ul>
        <div>
            <% @label.releases.each do |release| %>
            <p> <%= release.name %></p>
        <% end %>
        </div>
    <div class="controls">
        <%= button_to "Edit Label", edit_label_path, :method => 'get', :class => 'btn btn-outline-dark' %>
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#lModal">
            Delete
        </button>
        <div class="modal fade" id="lModal" tabindex="-1" aria-labelledby="lModalLabel" aria-hidden="true">l
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lModalLabel">Delete Label</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                    <div class="modal-body">
                        Are You Sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-light" > <%= button_to "Delete Label", @label, :method => 'delete', :class => 'btn btn-outline-dark' %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


