<h1><%= @release.name %></h1>
<div class="container">
  <div class="row">
    <div class="col align-self-start">
         <ul>
            <li>name:           <%= @release.name %></li>
            <li>Format:            <%= @release.release_type unless @release.release_type.nil? %></li>
            <li>Year:            <%= @release.year unless @release.year.nil? %></li>
            <li>Media:            <%= @release.media unless @release.media.nil? %></li>
            <div>
                <%= cl_image_tag(@release.image, :width=>250, :crop=>"thumb") %>
            </div>
        </ul>
    </div>
    <div class="col align-self-center">
                <div>
            <ol>
            <% @release.tracks.each do |track| %>
            <li> <%= track.title %></li>    
        <% end %>
            </ol>
        </div>
    </div>
  </div>
</div>








    <div class="controls">
        <%= button_to "Edit Release", edit_release_path, :method => 'get', :class => 'btn btn-outline-dark'  %>
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#rModal">
            Delete
        </button>
        <div class="modal fade" id="rModal" tabindex="-1" aria-labelledby="rModalLabel" aria-hidden="true">l
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rModalLabel">Delete Release</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                    <div class="modal-body">
                        Are You Sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-light" > <%= button_to "Delete Release", @release, :method => 'delete', :class => 'btn btn-outline-dark' %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

 